<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18089528011-fuftsr11uousc55svqgvt9qt95vul3ds.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18089528011-fuftsr11uousc55svqgvt9qt95vul3ds</string>
	<key>API_KEY</key>
	<string>AIzaSyDXCABr0zQBaEO8zt-JJddUubma1tjWcqg</string>
	<key>GCM_SENDER_ID</key>
	<string>18089528011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rank133</string>
	<key>PROJECT_ID</key>
	<string>rankcmpe133</string>
	<key>STORAGE_BUCKET</key>
	<string>rankcmpe133.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18089528011:ios:fe56709da138ec4251a94e</string>
</dict>
</plist>